@import './variables';
@import '~bulma';

html {
  font-size: 21px;
}

.has-divider {
  &:not(:first-child) {
    &::before {
      content: '|';
      margin: 0 15px;
      color: black;
    }
  }
}

h1 {
  font-size: $size-2;
}

h2 {
  font-size: $size-3;
}

h3 {
  font-size: $size-4;
}
